STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2

# Sync Products Job
SYNC_API_URL=https://dummyjson.com/products
SYNC_BATCH_SIZE=20
SYNC_MAX_RETRIES=2
SYNC_SAFE_MAX=5000
SYNC_SCHEDULE="*/30 * * * * *" # Run every 30 seconds

# Sync Config
SYNC_CONCURRENCY=5
